---
title: Homepage Business
footer: true
---
extends layouts/_layout
block content
	.main
		+header()
		.main2
			.main2__bg
				.main2__preview
					img(srcset="img/img-move/content/main-pic-3.1@2x.png 2x" src="img/img-move/content/main-pic-3.1.png" alt="")
				.main2__preview(data-aos="animation-translate-up" data-aos-delay="300" data-aos-anchor=".main2__bg")
					//- img.some-icon(srcset="img/img-move/content/main-pic-3.2@2x.png 2x" src="img/img-move/content/main-pic-3.2.png" alt="")
					img.some-icon-dark(srcset="img/img-move/content/main-pic-dark-3.2@2x.png 2x" src="img/img-move/content/main-pic-dark-3.2.png" alt="")
			.main2__center.center
				.main2__wrap
					h1.main2__title.h2(data-aos="animation-scale-top") Quick payments with Move!
					.main2__info.info Try the new fast payment system with no Commission and no time to authorize payments. It is designed to help you conquer new horizons!
					.main2__btns
						button.btn.btn_primary Get Started
					.main2__line
						.main2__social
							a.main2__link(href="#")
								img(src="img/img-move/logo/apple.svg" alt="")
							a.main2__link(href="#")
								img(src="img/img-move/logo/google.png" alt="")
						.main2__note Compatible with Google Pay and Apple Pay.
		
		.companies1
			.companies1__center.center
				.companies1__head
					.companies1__title.h8 We are trusted by the best in the world
				.companies1__list
					.companies1__preview
						img(src="img/img-move/logo/goldline.svg" alt="")
					.companies1__preview
						img(src="img/img-move/logo/aven.svg" alt="")
					.companies1__preview
						img(src="img/img-move/logo/kanba.svg" alt="")
					.companies1__preview
						img(src="img/img-move/logo/kyan.svg" alt="")
					.companies1__preview
						img(src="img/img-move/logo/spotify.svg" alt="")
		
		.quality2.bg1
			.quality2__center.center
				.quality2__list
					.quality2__item
						.quality2__icon.bg-blue-light
							img.some-icon(src="img/img-move/icons/credit-card.svg" alt="")
							img.some-icon-dark(src="img/img-move/icons/credit-card-dark.svg" alt="")
						.quality2__category Transfers without a fee
						.quality2__text You can transfer money to your relatives and friends to accounts in other banks without сommission.
					.quality2__item
						.quality2__icon.bg-green-light
							img.some-icon(src="img/img-move/icons/bag.svg" alt="")
							img.some-icon-dark(src="img/img-move/icons/bag-dark.svg" alt="")
						.quality2__category Pay anywhere
						.quality2__text Our payment system cooperates with many services and stores so we you can safely use our payment system.
					.quality2__item
						.quality2__icon.bg-orange-light
							img.some-icon(src="img/img-move/icons/wallet.svg" alt="")
							img.some-icon-dark(src="img/img-move/icons/wallet-dark.svg" alt="")
						.quality2__category Increased cashback
						.quality2__text Each month you are presented with a choice of 3 categories of products with increased cashback choose wisely.
					.quality2__item
						.quality2__icon.bg-red-light
							img.some-icon(src="img/img-move/icons/settings.svg" alt="")
							img.some-icon-dark(src="img/img-move/icons/settings-dark.svg" alt="")
						.quality2__category Free debit card service
						.quality2__text If you have more than $500 on your card, the card service will cost you free of charge.
		
		.advantages2
			.advantages2__center.center
				.advantages2__row
					.advantages2__bg
						img.some-icon(srcset="img/img-move/content/advantages-pic-3.1@2x.png 2x" src="img/img-move/content/advantages-pic-3.1.png" alt="")
						//- img.some-icon-dark(srcset="img/img-move/content/advantages-pic-dark-3.1@2x.png 2x" src="img/img-move/content/advantages-pic-dark-3.1.png" alt="")
					.advantages2__wrap
						h2.advantages2__title.h2(data-aos="animation-scale-top") All transactions are at hand!
						.advantages2__info.info Try to control your expenses directly from our app! You will see that it is very easy and convenient!
						.advantages2__list
							.advantages2__item
								.advantages2__icon.bg-blue-light
									img.some-icon(src="img/img-move/icons/chart-pie.svg" alt="")
									//- img.some-icon-dark(src="img/img-move/icons/chart-pie-dark.svg" alt="")
								.advantages2__details
									.advantages2__category Set limits on spending per month
									.advantages2__text Don't want to spend a lot and calculate your budget? Don't worry, you can limit your monthly expenses in our app!
							.advantages2__item
								.advantages2__icon.bg-green-light
									img.some-icon(src="img/img-move/icons/sale.svg" alt="")
									//- img.some-icon-dark(src="img/img-move/icons/sale-dark.svg" alt="")
								.advantages2__details
									.advantages2__category Close cooperation with Payonpie
									.advantages2__text You can get profitable applications from the global payment system Payonpie and receive increased cashback from purchases.
				.advantages2__row
					.advantages2__bg
						.advantages2__preview
							img(srcset="img/img-move/content/advantages-pic-3.2@2x.png 2x" src="img/img-move/content/advantages-pic-3.2.png" alt="")
						.advantages2__preview(data-aos="animation-translate-up")
							img.some-icon(srcset="img/img-move/content/advantages-pic-3.3@2x.png 2x" src="img/img-move/content/advantages-pic-3.3.png" alt="")
							//- img.some-icon-dark(srcset="img/img-move/content/advantages-pic-dark-3.3@2x.png 2x" src="img/img-move/content/advantages-pic-dark-3.3.png" alt="")
					.advantages2__wrap
						h2.advantages2__title.h2(data-aos="animation-scale-top") Transfer as much as you want!
						.advantages2__info.info When using our banking service you can transfer money to your loved ones without commission and without restrictions.
						.advantages2__clients
							.advantages2__logo
								img(src="img/img-move/logo/american-express.png" alt="")
							.advantages2__logo
								img(src="img/img-move/logo/paypal.png" alt="")
							.advantages2__logo
								img(src="img/img-move/logo/visa.png" alt="")
							.advantages2__logo
								img(src="img/img-move/logo/mastercard.png" alt="")
						a.more(href="#")
							| See all features
							+i('arrow-right')
				.advantages2__row
					.advantages2__bg
						img.some-icon(srcset="img/img-move/content/advantages-pic-3.4@2x.png 2x" src="img/img-move/content/advantages-pic-3.4.png" alt="")
						//- img.some-icon-dark(srcset="img/img-move/content/advantages-pic-dark-3.4@2x.png 2x" src="img/img-move/content/advantages-pic-dark-3.4.png" alt="")
					.advantages2__wrap
						h2.advantages2__title.h2(data-aos="animation-scale-top") Nothing will be hidden from you!
						.advantages2__info.info You can track all transactions in special statistics that will show the ratio of spending to your account balance.
						.advantages2__list
							.advantages2__item
								.advantages2__icon.bg-orange-light
									img.some-icon(src="img/img-move/icons/chart-bar.svg" alt="")
									//- img.some-icon-dark(src="img/img-move/icons/chart-bar-dark.svg" alt="")
								.advantages2__details
									.advantages2__category Take control of your spending
									.advantages2__text All operations that you perform through the selected card are automatically entered in statistics.
							.advantages2__item
								.advantages2__icon.bg-red-light
									img.some-icon(src="img/img-move/icons/shield-check.svg" alt="")
									//- img.some-icon-dark(src="img/img-move/icons/shield-check-dark.svg" alt="")
								.advantages2__details
									.advantages2__category Set goals and achieve them
									.advantages2__text In the app, you can set priority goals for yourself or save for somaething by saving a little bit.
		
		.view.bg1
			.view__center.center
				h2.view__title.h2(data-aos="animation-scale-top") What we’re about
				.view__info.info View our weekdays at the office! We work hard every day to create great products that will help you in your work.
				.view__video
					.video
						a.video__link(href="https://youtu.be/DGQwd1_dpuc")
							picture
								source(type="image/webp" srcset="https://i.ytimg.com/vi_webp/DGQwd1_dpuc/maxresdefault.webp")
								img.video__media(src="https://i.ytimg.com/vi/DGQwd1_dpuc/maxresdefault.jpg" alt="")
						button.video__button(aria-label="Запустить видео")
							svg(width='68', height='48', viewBox='0 0 68 48')
								path.video__button-shape(d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z')
								path.video__button-icon(d='M 45,24 27,14 27,34')
		
		.faq.bg1
			.faq__center.center
				.faq__top
					h2.faq__title.h2(data-aos="animation-scale-top") Frequently asked question
					.faq__info.info Jobs that are available from us and looking for their own people! Browse our vacancies and find the one that is right for you!
				.faq__row
					.faq__col
						.faq__item
							.faq__head Can I use this template for commercial purposes?
							.faq__body Jobs that are available from us and looking for their own people! Browse our vacancies and find the one that is right for you!
						.faq__item
							.faq__head Can support help me work with the template?
							.faq__body Jobs that are available from us and looking for their own people! Browse our vacancies and find the one that is right for you!
						.faq__item
							.faq__head CDo you offer bulk discounts?
							.faq__body Jobs that are available from us and looking for their own people! Browse our vacancies and find the one that is right for you!
					.faq__col
						.faq__item
							.faq__head In which applications can I edit your template?
							.faq__body Jobs that are available from us and looking for their own people! Browse our vacancies and find the one that is right for you!
						.faq__item
							.faq__head Will there be updates related to the store?
							.faq__body Jobs that are available from us and looking for their own people! Browse our vacancies and find the one that is right for you!
						.faq__item
							.faq__head Will there be a version for Figma in the future?
							.faq__body Jobs that are available from us and looking for their own people! Browse our vacancies and find the one that is right for you!
				.faq__btns
					button.faq__btn.btn.btn_blue-light Still have unanswered questions? Get in touch




