//- Description no longer than 155 characters
meta(name="description" content="Smart Quality Management Platform")
//- Twitter Card data
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@Agrinorm")
meta(name="twitter:title" content="Agrinorm") 
meta(name="twitter:description" content="Smart Quality Management Platform")
meta(name="twitter:creator" content="@Emiliano Onorati")
//- Twitter Summary card images must be at least 120x120px
meta(name="twitter:image" content="img/twitter-card.jpg")
//- Open Graph data
meta(property="og:title" content="Agrinorm") 
meta(property="og:type" content="Article")
meta(property="og:url" content="https://agrinorm.com")    
meta(property="og:image" content="img/fb-og-image.jpg")
meta(property="og:description" content="Smart Quality Management Platform" )
meta(property="og:site_name" content="Agrinorm")
meta(property="fb:admins" content="132951670226590")